.container {
    margin: 0 auto;
    max-width: 90%;
}

@media (min-width: 768px) {

    .container {   
        max-width: 85%;
    }
} 

@media (min-width: 1100px) {
    .container {
        width: 1108px;
        max-width: 80%;
    }
}